:root {
  --color-primary: #71c1a1;
  --color-secondary: #9f9eff;
  --color-bg: #ffffff;
  --color-gray: #eeeeee;
  --color-gray-darker: #dddddd;
  --color-gray-lighter: #f3f3f3;

  --shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shadow-2: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input,
select {
  height: 2.5em;
  background-color: #eeeeee;
  border: 0px solid #eeeeee;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1em;
}

select {
  border-right: 1em solid transparent;
}
