.card {
  border: 1px solid #e0e0e0;
}

.card:hover {
  box-shadow: var(--shadow-2);
}

.cardImageWrap {
  height: 260px;
  display: flex;
  padding: 0.825rem;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
}

.cardImageWrap > img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}

.cardDescription {
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  padding: 0.625rem;
}

.cardDescription h3,
.cardDescription p {
  margin-block: 2px;
}

.cardDescriptionTexts {
  flex: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
