/* === ListView === */

.header {
  box-shadow: var(--shadow-1);
}

.headerTop {
  padding: 0.6rem 0.6rem 0;
}

.headerTop div {
  /* padding: 0; */
  width: 50%;
}

.typeGridItem {
  display: inline-flex;
  align-items: center;
}
