.button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-bg);
  color: #ffffff;
  color: var(--color-primary);
  flex: 1;
  border-radius: 0;
  font-size: 110%;
}

.buttonPrimary {
  background-color: var(--color-primary);
  color: #ffffff;
}
