.container {
  border: 1px solid #dddddd;
}

.imageContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5em;
}

.image {
  max-height: 500px;
  width: auto;
  height: auto;
  max-width: 100%;
}

.detailInfo {
  background-color: var(--color-gray);
}

.detailInfoTop {
  padding: 1rem;
}

.detailInfo h2,
.detailInfo p {
  margin: 0;
}

.detailInfoBottom {
  display: flex;
}

.detailInfoBottom > div {
  width: 50%;
  text-align: center;
  border-top: 1px solid var(--color-gray-darker);
  border-right: 1px solid var(--color-gray-darker);
  padding: 1.25em;
}

.detailInfoBottom > div:last-child {
  border-right: 0;
}

.detailInfoBottom h4 {
  margin: 0 0 0.75em;
}
